* {
    padding: 0;
    margin: 0;
    margin-top: 4px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "ubuntu";
}
img {
    width: 8%;
}
h1{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background: #0b2239;
}
header .header-left {
    display: flex;
    align-items: center;
    width: 100%; 
}
header .header-left .logo {
    width: 90%;
}
header .header-left nav {
    margin-left: 50px;
}
header .header-left nav ul {
    display: flex;
}
nav ul li a {
    display: block;
    color: #cfd9e0;
    font-size: 18px;
    padding: 15px 10px 10px 30px;
    transition: 0.2s;
}
nav ul li a:hover,
nav ul li a.active {
    color: #fff;
}
header .header-right {
    display: flex;
    align-items: center;
}
header .header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
header .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #fff;
}
.notification-bar {
    position: fixed;      /* Fixed position */
    top: 80px;            /* Adjust top position as needed */
    right: 200px;          /* Adjust right position as needed */
    background-color: #fff; /* Background color */
    padding: 10px;        /* Padding for spacing */
    border: 1px solid #ccc; /* Border for styling */
    z-index: 9999;        /* Ensure it's above other content */
  }


.dropdown {
    position: relative;
    display: inline-block;
    color:'white';
    text-decoration: 'underline';
    padding-left: '20px';
    font-Weight: 'bold';
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
@media only screen and (max-width: 1000px) {
    header {
        padding: 0 20px;
    }
    header .header-right .hamburger {
        display: block;
    }
    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #0b2239;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
        z-index: -1;
    }
    header .header-left nav.active {
        top: 70px;
    }
    header .header-left nav ul {
        display: block;
    }
}